<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>添加主题</title>
    <link rel="stylesheet" type="text/css" href="/static/operamasks-ui-2.0/development-bundle/themes/default/om-all.css" />
    <link rel="stylesheet" type="text/css" href="/static/operamasks-ui-2.0/development-bundle/themes/default/om-grid-sort.css" />
</head>
<body>
<form id="saveThemeForm">
<input type="hidden" name="themeId" id="themeId" value="0" />
<select name="className" id="className">
    <option value="0">请选择主题分类</option>
    {% for type in themeType %}
        <option value="{{ type.value }}">{{ type.text }}</option>
    {% endfor %}
</select>
<select name="vUserGroup" id="vUserGroup">
    <option value="0">全部</option>
    {% for group in vUserGroup %}
        <option value="{{ group.value }}">{{ group.text }}</option>
    {% endfor %}
</select>
<select id="vUser" name="vUser">
    <option value="0">请选择虚拟用户</option>
    {% for user in vUser %}
        <option value="{{ user.value }}">{{ user.text }}</option>
    {% endfor %}
</select>
<input type="button" id="randomBtn" value="随机" /><br />
<input type="text" name="themeTitle" id="themeTitle" value="主题名称" />
<br />
<input id="file_upload" name="file_upload" type="file" />
<div id="response" style="font-weight: bold;color: red;"></div>
<br />

<textarea id="themeContent" name="themeContent"></textarea><br />
</form>
题目数量：0 <br />
回答数量：0 <br />
<input type="button" value="保存" id="saveBtn" />
<input type="button" value="取消" />

</body>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/jquery.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-core.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-mouse.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-resizable.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-combo.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-grid.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-grid-sort.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-fileupload.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-validate.js"></script>

<script type="text/javascript">
    //切换虚拟用户组级联虚拟用户
    $("#vUserGroup").change(function (){
        $.ajax({
            url:"/back_virtualuser/showVirtualUser",
            data:"vUserGroup="+$("#vUserGroup").val(),
            success:function(result){
                restoreVUser();
                for(var i =0;i<result.length;i++){
                    $("#vUser").append("<option value=\""+result[i].value+"\">"+result[i].text+"</option>");
                }
            }
        });
    });

    //还原虚拟用户下拉框
    function restoreVUser(){
        $("#vUser").html("<option value=\"0\">请选择虚拟用户</option>");
    }

    function praseDate(date){
		return date.fullYear + '-' + date.month + '-' + date.day + ' ' + date.hours + ':' + date.minutes + ':' + date.seconds;
	}

    $(document).ready(function() {
	  $('#file_upload').omFileUpload({
	    action : '/back_theme/saveTheme',
	    swf : '/static/operamasks-ui-2.0/swf/om-fileupload.swf',
	    method   : 'POST',
	    onComplete : function(ID,fileObj,response,data,event){
	    	var jsonData = eval("("+response+")");
            alert(jsonData.message);
            window.location.href="/back_theme/themeIndex";
	    }
	  });
	});

    //保存
    $("#saveBtn").click(function (){

        var val = $("#saveThemeForm").validate({
            rules : {
                    themeTitle : {
                        required : true,
                        minlength : 5,
                        maxlength : 10
                    }
                },
                messages : {
                    themeTitle : {
                        required : "请输入密码",
                        minlength : "密码长度不够",
                        maxlength : "密码长度不能超过10"
                    }
                }
        });

        if(val.valid()){
            $('#file_upload').omFileUpload(
                    {
                        'actionData':{
                            'themeId':document.getElementById('themeId').value,
                            'className':document.getElementById('className').value,
                            'vUserGroup':document.getElementById('vUserGroup').value,
                            'vUser':document.getElementById('vUser').value,
                            'themeTitle':document.getElementById('themeTitle').value,
                            'themeContent':document.getElementById('themeContent').value}
                    }
            );
            $('#file_upload').omFileUpload('upload');
        }
    });




</script>
</html>