<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>添加题目</title>
    <link rel="stylesheet" type="text/css" href="/static/operamasks-ui-2.0/development-bundle/themes/default/om-all.css" />
    <link rel="stylesheet" type="text/css" href="/static/operamasks-ui-2.0/development-bundle/themes/default/om-grid-sort.css" />
</head>
<body>
<form id="saveThemeForm">
<input type="hidden" name="themeId" value="0" />
发布人：
<select id="vUserGroup" name="vUserGroup">
    <option value="0">请选择虚拟用户组</option>
    {% for group in vUserGroup %}
        <option value="{{ group.value }}">{{ group.text }}</option>
    {% endfor %}
</select>
<select id="vUser" name="vUser">
    <option value="0">请选择虚拟用户</option>
</select>
<input type="button" id="randomBtn" value="随机" /><br />
<select id="vGroup" name="vGroup">
    <option value="0">请选择主题分类</option>
</select>
<select id="vUser" name="vUser">
    <option value="0">请选择主题</option>
</select>
<input type="text" name="themeTitle" id="themeTitle" value="请输入您的问题" />
<br />
<textarea id="themeContent" name="themeContent">请输入进一步描述</textarea><br />
<input id="file_upload" name="file_upload" type="file" />
<button value="上传" onclick="$('#file_upload').omFileUpload('upload')">上传</button>
<div id="response" style="font-weight: bold;color: red;"></div>
<br />
发布时间：<input id="container" />
</form>
回答数量：0 <br />
举报数量：0 <br />
分享数量：0 <br />

<input type="button" value="保存" id="saveBtn" />
<input type="button" value="取消" />

</body>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/jquery.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-core.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-mouse.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-resizable.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-combo.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-grid.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-fileupload.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-calendar.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        $('#container').omCalendar({showTime : true});

        $('#file_upload').omFileUpload({
            action : '/back_theme/saveTheme',
            swf : '/static/operamasks-ui-2.0/swf/om-fileupload.swf',
            method   : 'POST',
            onComplete : function(ID,fileObj,response,data,event){
                var jsonData = eval("("+response+")");
                alert(jsonData.message);
                window.location.href="/back_theme/themeIndex";
            }
          });
	});

    //切换虚拟用户组级联虚拟用户
    $("#vUserGroup").change(function (){
        if($("#vUserGroup").val() == '0'){
            restoreVUser();
            return
        }
        $.ajax({
            url:"/back_theme/showVirtualUser",
            data:"vUserGroup="+$("#vUserGroup").val(),
            success:function(result){
                restoreVUser();
                for(var i =0;i<result.length;i++){
                    $("#vUser").append("<option value=\""+result[i].value+"\">"+result[i].text+"</option>");
                }
            }
        });
    });

    //还原虚拟用户下拉框
    function restoreVUser(){
        $("#vUser").html("<option value=\"0\">请选择虚拟用户</option>");
    }

    function praseDate(date){
		return date.fullYear + '-' + date.month + '-' + date.day + ' ' + date.hours + ':' + date.minutes + ':' + date.seconds;
	}

    //上传图片
    $('#file_upload').omFileUpload({
	    action : '/back_theme/uploadImg',
	    swf : '/static/operamasks-ui-2.0/swf/om-fileupload.swf',
	    multi : true,
	    onComplete : function(ID,fileObj,response,data,event){
	    	var jsonData = eval("("+response+")");


	    },
        onSelect : function(ID,fileObj,event){
	    	var msg = '文件信息\n';
    		msg += '文件ID：' + ID + '\n';
    		msg += '文件名：' + fileObj.name + '\n';
    		msg += '文件大小：' + fileObj.size + ' Bytes\n';
    		msg += '文件创建时间：' + praseDate(fileObj.creationDate) + '\n';
    		msg += '文件最后修改时间：' + praseDate(fileObj.modificationDate) + '\n';
    		msg += '文件类型：' + fileObj.type + '\n';
	    }
    });

    //保存
    $("#saveBtn").click(function (){
        $.ajax({
            type:"post",
            url:"/back_theme/saveTheme",
            data:$("#saveThemeForm").serialize(),
            contentType:"application/x-www-form-urlencoded; charset=utf-8",
            success:function(result){
                alert(result.message);
            }
        });
    });

</script>
</html>