<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>题目管理</title>
    <link rel="stylesheet" type="text/css" href="/static/operamasks-ui-2.0/development-bundle/themes/default/om-all.css" />
    <link rel="stylesheet" type="text/css" href="/static/operamasks-ui-2.0/development-bundle/themes/default/om-grid-sort.css" />
</head>
<body>
<select id="showThemeType" name="showThemeType">
    <option value="">全部分类</option>
    {% for type in themeType %}
        <option value="{{ type.value }}">{{ type.text }}</option>
    {% endfor %}
</select>

 <select id="theme" name="theme">
    <option value="">全部主题</option>
    {% for tm in theme %}
        <option value="{{ tm.value }}">{{ tm.text }}</option>
    {% endfor %}
</select>

<select id="userType" name="userType">
     <option value="">全部用户</option>
     <option value="1">虚拟用户</option>
     <option value="2">真实用户</option>
</select>

<select id="hide" name="hide">
     <option value="">全部</option>
     <option value="1">隐藏状态</option>
     <option value="2">非隐藏状态</option>
</select>

<br />

<input type="text" value="题目内容" id="name" name="name" />
<input type="text" value="创建者昵称/ID" id="uid" name="uid" />
<input type="text" value="题目描述" id="describe" name="describe" />

<br />

发布时间：<input id="publishStart" name="publishStart" />至<input id="publishEnd" name="publishEnd" />
<input type="text" value="题目ID" name="qid" />

<br />

回答数量：<input type="text" value="0" id="ansStart" name="ansStart" />至<input type="text" value="99999" id="ansStop" name="ansStop" />
分享数量：<input type="text" value="0" id="shareNum" name="shareNum" />至<input type="text" value="99999" id="shareEnd" name="shareEnd" />

<br />

<select id="showBackUser">
    <option value="">请选择运维人员</option>
    {% for user in backUser %}
        <option value="{{ user.value }}">{{ user.text }}</option>
    {% endfor %}
</select>

<input type="button" value="搜索" id="searchBtn" /><input type="button" value="导出" id="exportBtn" />
<input type="button" value="添加" id="addBtn" />
<table id="grid"></table>

</body>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/jquery.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-core.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-mouse.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-resizable.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-combo.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-grid.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-grid-sort.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-draggable.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-position.js"></script>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/ui/om-calendar.js"></script>
<script type="text/javascript">
        $(document).ready(function() {
            //时间控件初始化
            $('#publishStart').omCalendar({showTime : true});
            $('#publishEnd').omCalendar({showTime : true});
            //题目列表
            url = 'searchToTableData?method=fast';
            showQuestions(url);

            //分类管理
            $( "#dialog-modal").omDialog({
                autoOpen: false,
                width:400,
                height: 300,
                modal: true
            });
        });

    function showQuestions(url){
        $('#grid').omGrid({
                limit : 5,
                dataSource : url,
                colModel : [
                    {header : 'ID', name : 'qid', width : 80, align : 'center',sort:'clientSide'},
                    {header : '题目', name : 'name', width : 150, align : 'center',sort:''},
                    {header : '主题', name : 'theme', align : 'center', width : 80,sort:''},
                    {header : '创建者', name : 'uid', align : 'center', width : 80,sort:'clientSide'},
                    {header : '题目描述', name : 'describe', align : 'center', width : 'autoExpand',sort:''},
                    {header : '发布时间', name : 'createDate', align : 'center', width : 120, sort:'clientSide'},
                    {header : '回答数量', name : 'ansNum', align : 'center', width : 50, sort:'clientSide'},
                    {header : '举报', name : 'report', align : 'center', width : 50, sort:'clientSide'},
                    {header : '分享', name : 'hold', align : 'center', width : 50, sort:'clientSide'},
                    {header : '操作', name : 'id', align : 'center', width : 80,sort:'',
                        renderer:function(colValue, rowData, rowIndex){
                            	 return '<a href="javascript:;" onclick="modifyQuestion('+colValue+')">编辑</a>&nbsp;&nbsp;' +
                                         '<a href="javascript:;" onclick="hideQuestion('+colValue+')">隐藏</a>';
                        }}
                ]

        });
    }

    //搜索
    $("#searchBtn").click(function() {
        url = 'searchToTableData?method=fast';
        if($("#showThemeType").val() != null){
            url += '&showThemeType='+$("#showThemeType").val();
        }
        if($("#theme").val() != null){
            url += '&theme='+$("#theme").val();
        }
        if($("#userType").val() != null){
            url += '&userType='+$("#userType").val();
        }
        if($("#hide").val() != null){
            url += '&hide='+$("#hide").val();
        }
        if($("#name").val() != null){
            url += '&name='+$("#name").val();
        }
        if($("#uid").val() != null){
            url += '&uid='+$("#uid").val();
        }
        if($("#describe").val() != null){
            url += '&describe='+$("#describe").val();
        }
        if($("#publishStart").val() != null){
            url += '&publishStart='+$("#publishStart").val();
        }
        if($("#publishEnd").val() != null){
            url += '&publishEnd='+$("#publishEnd").val();
        }
        if($("#qid").val() != null){
            url += '&qid='+$("#qid").val();
        }
        if($("#ansStart").val() != null){
            url += '&ansStart='+$("#ansStart").val();
        }
        if($("#ansStop").val() != null){
            url += '&ansStop='+$("#ansStop").val();
        }
        if($("#shareNum").val() != null){
            url += '&shareNum='+$("#shareNum").val();
        }
        if($("#shareEnd").val() != null){
            url += '&shareEnd='+$("#shareEnd").val();
        }
        if($("#showBackUser").val() != null){
            url += '&showBackUser='+$("#showBackUser").val();
        }

        showQuestions(url);
    });

    //导出
    $("#exportBtn").click(function() {
        window.location.href = '/back_question/exportExcel'
    });

    //编辑
    function modifyQuestion(questionId){
        window.location.href = "/back_question/editQuestionPage?qid="+questionId;
    }

    //添加
    $("#addBtn").click(function() {
        window.location.href = "/back_question/addQuestionPage";
    });

    //隐藏
    function hideQuestion(questionId){
        $.ajax({
            url:"/back_theme/hideTheme",
            data:"qid="+questionId,
            success: function (result) {
                alert(result.message);
            }
        });
    }


</script>
</html>

