
<div id="modifyPassword_dialog">
	<!-- 修改密码 -->
	<div>
		<span style="color:red;">{{errorMsg }}</span>
		<form id="modifyPassword_form" action="editPassword" method="post">
			<table>
				<tr>
					<td class="td_right"><span class="label">旧密码：</span></td>
					<td class="td_left"><input type="password" id="oldPassword" name="oldPassword"/></td>
				</tr>
				<tr>
					<td class="td_right"><span class="label">新密码：</span></td>
					<td class="td_left"><input id="modifyPassword_newPassword" type="password" name="newPassword"/></td>
				</tr>
				<tr>
					<td class="td_right"><span class="label">新密码确认：</span></td>
					<td class="td_left"><input type="password" name="newPassword2"/></td>
				</tr>
			</table>
		</form>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		//只能输入字母和数字
		jQuery.validator.addMethod("oldnewpasswordsame", function(value, element) { 
			var oldPassword = $("#oldPassword").val();
			if(value==oldPassword){
				return false;
			}
			return true; 
		}, "旧密码和新密码不能相同"); 
		//表单验证
		
		$("#modifyPassword_form").validate({
			 rules:{
			 	
			 	oldPassword : { required:true,maxlength:50 },
			 	newPassword : { required:true,minlength:6, maxlength:50,oldnewpasswordsame:true },
			 	newPassword2: { required:true,equalTo:"#modifyPassword_newPassword" }
			 },
			 messages : {
				oldPassword : {  required:"请输入旧密码",maxlength:"旧密码不得超过50个字符" },
				newPassword : {  required:"请输入新密码",minlength:"新密码不能少于6个字符",maxlength:"新密码不得超过50个字符" },
				newPassword2: {  required:"请再输入一遍新密码",equalTo:"两次密码不一致" }
			 }
		});
		var title = "";
	
		$( "#modifyPassword_dialog").omDialog({
			title: "修改密码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='color: red;'>"+title+"</span>",
			autoOpen: true,
			height: 'auto',
			width: 480,
			modal: true,
			resizable:false,
			closeOnEscape : false ,
			onBeforeClose:function(){
				
			},
			onClose :function(){
				//销毁DIV
				$( "#modifyPassword_dialog" ).remove();
			},
			buttons : [
				{ text : "保存", id:'modifyPassword_dialog_submit' , click:function(){
					if(!$("#modifyPassword_form").valid()) 
						return false;
					$('#modifyPassword_dialog_submit').omButton('disable');
					$("#modifyPassword_form").omAjaxSubmit({
						method:'POST',
						url :'/back_user/editPassword/',
						dataType:'json',
						success: function(responseText, jqForm, options){
							alert(responseText + "   " + responseText.result)
							if( responseText.result == 1){
								if(responseText.errorMsg == '修改成功'){
									
									main_messageTip_show(''+responseText.errorMsg);
									$("#modifyPassword_dialog").omDialog('close');
								}else{
									main_messageTip_show(''+responseText.errorMsg);
									$('#modifyPassword_dialog_submit').omButton('enable');
								}
								
							} else {
								main_messageTip_show('返回错误');
							}
							
						},
					  	error:function(){
							$('#modifyPassword_dialog_submit').omButton('enable');
					  		main_messageTip_show(ERROR_MESSAGE);
					  	}
					});
				}}, 
				{text : "取消", id:'modifyPassword_dialog_colse',click : function(){
					$( "#modifyPassword_dialog").omDialog('close'); } }
			]
		});
		$( "#modifyPassword_dialog_submit").omButton({
			icons : { left : '${windowSubmitIcons}'}
       	 });
		 $( "#modifyPassword_dialog_colse").omButton({
			icons : { left : '${windowCloseIcons}'}
       	 });
		 function containSpecialChar(str)   
		{   
   			 var containSpecial = RegExp(/[(\ )(\~)(\!)(\@)(\#)(\$)(\%)(\^)(\&)(\*)(\()(\))(\-)(\_)(\+)(\=)(\[)(\])(\{)(\})(\|)(\\)(\;)(\:)(\')(\")(\,)(\.)(\/)(\<)(\>)(\?)(\)]+/);
   			 return (containSpecial.test(str));   
		}
	});
	
</script>