<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>服务条款</title>
</head>
<body>
<form id="saveForm">
服务条款（web/app共用）<br />
<textarea name="service">
    {{ serviceData }}
</textarea><br />
<input id="saveBtn" type="button" value="保存">
</form>
</body>
<script type="text/javascript" src="/static/operamasks-ui-2.0/development-bundle/jquery.js"></script>
<script type="text/javascript">
    $("#saveBtn").click(function (){
        $.ajax({
            type:"post",
            url:"/back_other/saveService",
            data:$("#saveForm").serialize(),
            contentType:"application/x-www-form-urlencoded; charset=utf-8",
            success:function(result){
                alert(result.message);
                if(result.status == 200){
                    location.reload()
                }

            }
        });
    });
</script>
</html>